APP_IMAGE=your-registry-username/urlshortener-app:0.0.1
APP_PORT=8080

POSTGRES_DB=urlshortener
POSTGRES_USER=urlshortener
POSTGRES_PASSWORD=change-this-password

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_MAXMEMORY=256mb
REDIS_MAXMEMORY_POLICY=allkeys-lru

GOOGLE_CLIENT_ID=ID
GOOGLE_CLIENT_SECRET=SECRET

DISCORD_CLIENT_ID=ID
DISCORD_CLIENT_SECRET=SECRET

GITHUB_CLIENT_ID=ID
GITHUB_CLIENT_SECRET=SECRET

JPA_DDL_AUTO=update
