APP_IMAGE=your-registry-username/urlshortener-app:0.0.1
APP_PORT=8080

POSTGRES_DB=urlshortener
POSTGRES_USER=urlshortener
POSTGRES_PASSWORD=change-this-password

REDIS_PORT=redis
REDIS_HOST=6379

GOOGLE_CLIENT_ID=ID
GOOGLE_CLIENT_SECRET=SECRET

JPA_DDL_AUTO=update
